[
  {
    "ParameterKey": "EnvironmentParameter",
    "ParameterValue": "dev"
  }, 
  {
    "ParameterKey": "MonitoringSNSEmailParameter",
    "ParameterValue": "monitoring@example.com"
  },
  {
    "ParameterKey": "RedshiftNodeTypeParameter",
    "ParameterValue": "dc1.large"
  },
  {
    "ParameterKey": "RedshiftNumberOfNodesParameter",
    "ParameterValue": "2"
  },
  {
    "ParameterKey": "RedshiftMasterUserNameParameter",
    "ParameterValue": "mydatabaseadminuser"
  },
  {
    "ParameterKey": "RedshiftMasterUserPasswordParameter",
    "ParameterValue": "changeM3!"
  },
  {
    "ParameterKey": "RedshiftAllowVersionUpgradeParameter",
    "ParameterValue": "true"
  },
  {
    "ParameterKey": "RedshiftAutomatedSnapshotRetentionPeriodParameter",
    "ParameterValue": "1"
  },
  {
    "ParameterKey": "RedshiftClusterTypeParameter",
    "ParameterValue": "multi-node"
  },
  {
    "ParameterKey": "RedshiftClusterVersionParameter",
    "ParameterValue": "1.0"
  },
  {
    "ParameterKey": "RedshiftPortParameter",
    "ParameterValue": "5439"
  },
  {
    "ParameterKey": "RedshiftPreferredMaintenanceWindowParameter",
    "ParameterValue": "thu:07:00-thu:07:30"
  },
  {
    "ParameterKey": "RedshiftDataSubnet1Parameter",
    "ParameterValue": "subnet-12345678"
  },
  {
    "ParameterKey": "RedshiftDataSubnet2Parameter",
    "ParameterValue": "subnet-23456789"
  },
  {
    "ParameterKey": "VPCIDParameter",
    "ParameterValue": "vpc-34567890"
  },
  {
    "ParameterKey": "PrivateAppSubnetCidrParameter",
    "ParameterValue": "10.0.1.0/24"
  },
  {
    "ParameterKey": "VPN1CidrParameter",
    "ParameterValue": "10.0.2.0/24"
  },
  {
    "ParameterKey": "VPN2CidrParameter",
    "ParameterValue": "10.0.3.0/24"
  },
  {
    "ParameterKey": "VPN3CidrParameter",
    "ParameterValue": "10.0.4.0/24"
  },
  {
    "ParameterKey": "VPN4CidrParameter",
    "ParameterValue": "10.0.5.0/24"
  }
]
