# Canvas Data Portal flat file download. Generate a key and secret from the
# Canvas root account settings page.
canvas_data_api_key=<API Key>
canvas_data_api_secret=<API Secret>
canvas_data_host=<Data host endpoint>

canvas_data_bucket=<Data storage S3 bucket>

# Temporary storage during file download and processing
scratch_dir=<File system location for temporary files>

# Archival storage for downloaded files. Files will be stored in a directory
# hierarchy as follows:
#
# $canvas_data_archive_key
#    - dump sequence number (eg 00001)
#       - table name (eg account_dim
#           - data files (eg account_dim_00000.gz)
#       - dump_info.json
#       - dataset.json
canvas_data_archive_key=<S3 key prefix>

# DynamoDB table to store dump metadata
dump_info_dynamo_table=<Dynamo table with String key named 'id'>